<h1>Listing restaurants</h1>

<ul class="restaurant-list">
	<% @restaurants.each do |restaurant| %>

    <li><%= link_to restaurant.name, restaurant_url(restaurant) %></li>

	<% end %>
</ul>
<br />

<%#= link_to 'New Restaurant', new_restaurant_path %>

<div class="large_map">
	<%= gmaps4rails(@locations) %>
</div>

<%= yield :scripts %>