.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

.small_map .map_container {
  width: 300px;
}

.small_map .gmaps4rails_map {
  width: 300px;
  height: 300px;
}

.large_map .map_container {
  width: 735px;
}

.large_map .gmaps4rails_map {
  width: 735px;
  height: 400px;
}