<div id="header">
	<h1>Burger Quest</h1>
	<h2>Record and Share your quest for the ultimate burger!</h2>
	
	<ul class="hmenu">
	  <%= render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
	</ul>
	
</div>