<header>
	<div id="logo">Burger Quest</div>
	<h2>Record and Share your quest for the ultimate burger!</h2>
	
	<ul class="user_menu">
	  <%= render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
	</ul>
	
</header>